/* Custom Styles After Foundation - Medium */

#mob-nav {
  display: none;
}

header {
  display: block;
  .ad {
    display: none;
  }
}

#logo {
  display: block;
  margin: 20px 0 0 0;
  a {
    display: block;
    width: 228px;
    height: 79px;
    background: url(../img/dmptool_logo.png);
    span {
      visibility: hidden; // for accessibility
    }
  }
}

html.svg #logo a {
  background: url(../img/dmptool_logo.svg) no-repeat;
  background-size: 228px 79px;
}

#contact {
  padding: 0 10px 10px 0;
}

#banner {
  margin: 0;
  padding: 20px 50px !important;
  h1 {
    font-size: 2.1em;
  }
  p {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    line-height: 1.3em;
  }
}

main {
  background: #f1f3e7;
  padding: 0 0 1em 0;
  h1 {
    margin-bottom: 1em;
    padding: 1em 0;
    color: #336600;
    font-size: 1.3em;
    text-transform: uppercase;
    border-bottom: 1px dotted #666;
  }
  .contacts {
    padding: 10px 0 20px 80px;
    background: url(../img/uc_contacts_large.png) no-repeat;
  }
  .numbers {
    padding: 10px 0 20px 60px;
    background: url(../img/uc_by_the_numbers_large.png) no-repeat;
  }
  h2 {
    padding: 1em 0 0 0;
    color: #336600;
    font-size: 1em;
    font-weight: bold;
    border-top: 1px dotted #666;
  }
  form {
    border-left: 1px dotted #666;
  }
  .row {
    p {
      // font-size: 0.9em;
    }
  }
} 

aside {
  .row {
    .columns {
      margin: 0;
    }
  }
}

.asidebutton a {
  box-shadow: 0px 0px 10px #999;
}

#introsections {
  padding: 1em 0;
  border-top: 1px solid #ccc;
  section {
    border-left: 1px solid #ccc;
    min-height: 200px;
    &:first-child {
      border: none;
    }
    ul {
      margin-top: 15px;
    }
    li {
      font-size: 0.8em;
    }
  }
}

footer {
  nav {
    width: 24em;
    a {
      &:nth-of-type(2) {
        border-right: 1px solid #000;
      }
      &:nth-of-type(3) {
        border-right: none;
      }
    } 
  }
}

.buttons {
  float: none;
}
 