
// *** SASS partials for compiling to app.css ***

$bred: 1px solid red;
$bblue: 1px solid blue;
$bgreen: 1px solid green;

// Normalize defalt CSS browser rendering:

@import "normalize";

// Foundation overrides of global settings:

@import "foundation/settings";

// Foundation components:

@import "foundation";

// Custom styles:

@import "small";

@media #{$medium-up} {
	@import "medium";
}

@media #{$large-up} {
	@import "large";
}